*{
    margin : 0;
    padding : 0;
    font-family : 'Poppins',sans-serif;
    box-sizing: border-box;
}
h1,h2.head{
    background-color: #b4c0c9bf;
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
form input.butt{
    transition: all 0.5s;
}
form input.butt:hover{
    transform: scale(1.1);
    transition: all 0.2s;
    /* z-index: 20; */
}
.container{
    width : 100%;
    height : 100vh;
    background: #DDE6ED;
    display:flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color:#3a4452 ;
    padding:20px;
    border-radius: 10px;
}
.calculator form input{
    border : 0;
    outline : 0;
    width:60px;
    height:60px;
    background-color: #3a4452;
    border-radius: 10px;
    /* background: transparent; */
    font-size: 20px;
    color:aliceblue;
    cursor:pointer;
    margin:10px;
    box-shadow: -8px -8px 15px #575c66aa ,5px 5px 15px #1d1e1e ;
}
form.disp
{
    display: flex;
    justify-content: flex-end;
    margin:20px 0px; 
}
form .display input{
    display: flex;
    font-weight:bold;
    text-align: right;
    font-size: 40px;
    box-shadow: none;
    width: 313px;
    height: 75px;
}
form input.equal
{
    width:145px;
    color:#33ffd8;
    font-size: 25px;
}
form input.operator{
    color:#33ffd8;
}
form input.reset-buttons{
    color:#33ffd8;
    font-size: 23x;

}